<ion-header>
  <ion-toolbar class="toolbar-height" color="danger">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div style="margin-left: 10px; margin-top: 10px;" >
            <ion-title class="ion-title-align" >      
              <ion-icon name="location" (click)="backbuttonclick()"></ion-icon>Jalandhar</ion-title>
          </div>
        </ion-col>
        <ion-col size="6" >
          <ion-buttons class="ion-float-right" >
            <ion-menu-button ></ion-menu-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>  
    <ion-searchbar placeholder="Search for restaurants, dishes..."></ion-searchbar>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <ion-card class="dashboard-card">
    <ion-card-content >
      <ion-slides >
        <ion-slide>
           <div >
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="assets/main_slide1.jpg">
                  </div>
                </ion-col>
                <ion-col size="3">
                  <div>
                    <img src="assets/main_slide2.jpg">
                  </div>
                </ion-col>
                <ion-col size="3">
                  <div>
                    <img src="assets/main_slide3.jpg">
                  </div>
                </ion-col>
                <ion-col size="3">
                  <div>
                    <img src="assets/main_slide4.jpg">
                  </div>
                </ion-col>                
              </ion-row>
            </ion-grid>
          </div>    
        </ion-slide>
      </ion-slides>
      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-slides>
              <ion-slide>
                <ion-col size="3">
                  <ion-card>
                    <ion-card-content>
                      <div>
                        <img src="assets/sub_slide1.png">
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="3">
                  <ion-card>
                    <ion-card-content>
                      <div>
                        <img src="assets/sub_slide2.png">
                      </div>
                    </ion-card-content>
                  </ion-card>                  
                </ion-col>
                <ion-col size="3">
                  <ion-card>
                    <ion-card-content>
                      <div>
                        <img src="assets/sub_slide3.png">
                      </div>
                    </ion-card-content>
                  </ion-card>                  
                </ion-col>
                <ion-col size="3">
                  <ion-card>
                    <ion-card-content>
                      <div>
                        <img src="assets/sub_slide4.png">
                      </div>
                    </ion-card-content>
                  </ion-card>                  
                </ion-col>
              </ion-slide>
            </ion-slides>            
          </ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
