<ion-header>
  <ion-toolbar color="danger">
    <ion-icon class="back-btn" slot="start" name="arrow-back-outline" (click)="backbuttonclick()"></ion-icon> 
    <ion-title class="ion-title">Select City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="changeFunction($event.target.value)" (ionClear)="onCancel($event)"></ion-searchbar>
  <p class="serachbar-text">Please Select City for Continue.</p>
  <ion-list>
    <ion-radio-group >     
      <ion-item *ngFor="let item of cityList">
        <ion-label>{{item.name}}</ion-label>
        <ion-radio slot="start" color="danger" value="Pthankoat"></ion-radio>
      </ion-item>

      <!-- <ion-item>
        <ion-label>Ambala</ion-label>
        <ion-radio slot="start" color="danger" value="Ambala"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Amritsar</ion-label>
        <ion-radio slot="start" color="danger" value="Amritsar"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ludiana</ion-label>
        <ion-radio slot="start" color="danger" value="Ludiana"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Jalandhar</ion-label>
        <ion-radio slot="start" color="danger" value="Jalandhar"></ion-radio>
      </ion-item> -->
    </ion-radio-group>
  </ion-list>
  <ion-button class="login-btn" (click)="navigationdashboard()">Update</ion-button>
</ion-content>
