<!-- <ion-header>
  <ion-toolbar>
    <ion-title>WelcomeSlide</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides>
    <ion-slide-pager class="slider-pager-page "></ion-slide-pager>
    <ion-slide>
      <div>
        <img src="assets/welcomeSlide1.jpg">
        <!-- <h4>Food will be send to you door...Please be ready to recieve your order</h4>
        <p>We will courier your order As early as possible</p> -->
      </div>
    </ion-slide>
    <ion-slide>
      <div >
        <img src="assets/welcomeSlide1.jpg">
        
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-button class="skip-btn button-native" (click)="skip()">Skip</ion-button>
        <img src="assets/welcomeSlide1.jpg">
        
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
